[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TrucklistStudioFX
Type=Application
Categories=AudioVideo;
Terminal=false
Icon=/usr/share/pixmaps/truckliststudio.png
Exec=/usr/bin/truckliststudio
Comment=TrucklistStudioFX for GNU/Linux
